*
/* https://www.w3schools.com/cssref/default.asp */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(pe.jpg) 50% 50%;
  background-size: cover;
}
h1
{
min-height: 35vh;
}
#clock h1
{
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}
#clock #time
{
  display: flex;
}
#clock #time div
{
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 7px linear-gradient(transparent, #0002)
  /* -webkit-box-reflect: padaro seseli */
}
#clock #time div span
{
  border: none;
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  background-color: transparent;
  color: #FFFAFA;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0,.5);
}
#clock #time div span:nth-child(2)
{
  /* nth-child yra sektorius kuris atitinka div span kiekviena elementa
  kuris yra nepriklausomas siuo atveju tai skaiciai ir raides ;) */
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  z-index: 9;
  box-shadow: none;
  background-color: #663399;
}
